<div class=" header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 d-inline-block mb-0">Ticket Management</h6>
        </div>

        <div class=" col-lg-6 col-5 text-right">
          <button class=" btn btn-sm btn-success" (click)="moveTo('new')">Create</button>
          <button class=" btn btn-sm btn-default" (click)="moveTo('new')">View</button>
          <button class=" btn btn-sm btn-info" (click)="moveTo('new')">View</button>
          <button class=" btn btn-sm btn-danger" (click)="moveTo('new')">Check </button>
        </div>        

      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">

  <div id="card-stats-bg-component" class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-stats-bg-component-tab">
    <div class="row mb-4">
      <div class="col-lg-3">
        <div class="card bg-gradient-default">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0 text-white">Calculated Progress</h5>
                <span class="h1 font-weight-bold mb-0 text-white">TBD</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card bg-success">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0 text-white">Cumulative Submission</h5>
                <span class="h1 font-weight-bold mb-0 text-white">TBD</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card bg-info">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0 text-white">Tasks Left</h5>
                <span class="h1 font-weight-bold mb-0 text-white">TBD</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card bg-danger">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0 text-white">In Process</h5>
                <span class="h1 font-weight-bold mb-0 text-white">TBD</span>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>    

</div>
