<div class=" header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 d-inline-block mb-0">Tender Notification List</h6>
        </div>


      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">

  <div class=" row">
    <div class=" col">

      <div class=" card">
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 text-right">
              
              <button class=" btn btn-sm btn-default" (click)="filterBy('X')">All</button>
              <button class=" btn btn-sm btn-info" (click)="filterBy('a')">Filter by Archived</button>
              <button class=" btn btn-sm btn-success" (click)="filterBy('c')">Filter by Created</button>
              <button class=" btn btn-sm btn-primary" (click)="filterBy('s')">Filter by Submission</button>

              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>

            
                                
              </div>
            </div>
          </div>

          <ngx-datatable
            id="print-section"
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            [selected]="selected"
            [selectionType]="'single'"
            (activate)="onActivate($event)"
            (select)="onSelect($event)">

            <ngx-datatable-column name="Project"></ngx-datatable-column>
            <ngx-datatable-column name="Client" prop="client.name">
              <ng-template let-column="column" ngx-datatable-header-template> Client </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>{{ row.client?.name }}</ng-template>              
            </ngx-datatable-column>
            <ngx-datatable-column name="Creation Date" prop="creation_date">
              <ng-template let-column="column" ngx-datatable-header-template> Creation Date </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>{{ row.created_date | amLocal | amDateFormat:'DD-MM-y hh:mm A' }}</ng-template>              
            </ngx-datatable-column>
            <ngx-datatable-column name="Submission Date" prop="submission_date">
              <ng-template let-column="column" ngx-datatable-header-template> Submission Date </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>{{ row.submission_date | amLocal | amDateFormat:'DD-MM-y hh:mm A' }}</ng-template>              
            </ngx-datatable-column>
            <ngx-datatable-column name="Status">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div *ngIf="row.status == 'AR'">Archived</div>
                <div *ngIf="row.status == 'CR'">Created</div>
                <div *ngIf="row.status == 'SM'">Submission</div>
              </ng-template>              
            </ngx-datatable-column>
       

        <ngx-datatable-footer></ngx-datatable-footer>

          </ngx-datatable>

          
          
        

        </div>

      </div>

    </div>
  </div>

</div>
