<nav
  id="navbar-main"
  class="navbar navbar-horizontal navbar-main navbar-expand-lg navbar-dark bg-secondary"
>
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="assets/img/brand/red-large.png" />
    </a>

    <div
      class="navbar-collapse navbar-custom-collapse collapse"
      id="collapseBasic">

      <ul class="navbar-nav mr-auto">
        <!--

        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/p/ai']">
            <span class="nav-link-inner--text text-default">Artificial Intelligence</span>
          </a>
        </li>           

        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/p/cloud']">
            <span class="nav-link-inner--text text-default">Cloud</span>
          </a>
        </li>        

        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/p/enterprise']">
            <span class="nav-link-inner--text text-default">Enterprise</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/p/iot']">
            <span class="nav-link-inner--text text-default">IoT</span>
          </a>
        </li>
      -->
      </ul>      

      <hr class="d-lg-none" />
      <ul class="navbar-nav align-items-lg-center ml-lg-auto text-light">
      <!--
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon  text-default"
            href="https://www.facebook.com/pipeline.MY"
            target="_blank"
            tooltip="Like us on Facebook">
            <i class="fab fa-facebook-square"></i>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li>
      -->
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon  text-default"
            href="https://www.linkedin.com/company/pipeline-network"
            target="_blank"
            tooltip="Follow us on Linkedin">
            <i class="fab fa-linkedin"></i>
            <span class="nav-link-inner--text d-lg-none">Linkedin</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon  text-default"
            href="https://www.youtube.com/channel/UCxPeJMYX1PtIWhdpxFG36XQ/"
            target="_blank"
            tooltip="Watch us on Youtube">
            <i class="fab fa-youtube"></i>
            <span class="nav-link-inner--text d-lg-none">Youtube</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon  text-default"
            href="https://github.com/pipelinenetwork"
            target="_blank"
            tooltip="Star us on Github">
            <i class="fab fa-github"></i>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li>
        
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a
            [routerLink]="['/dashboards/dashboard']"
            class="btn btn-default btn-icon">
            <span class="nav-link-inner--text text-white">Dashboard</span>
          </a>
        </li>
      </ul>      

    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="py-5" id="footer-main">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; <!--{{ test | date: "yyyy" }}-->
          <a
            [routerLink]="['/']"
            class="font-weight-bold ml-1 text-default">Pipeline Network Sdn. Bhd.</a>
        </div>
      </div>
      <div class="col-xl-6">
        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
          <!--
          <li class="nav-item">
            <a
              [routerLink]="['/p/about']"
              class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['/p/contact']"
              class="nav-link">Contact Us!</a>
          </li>   
          <li class="nav-item">
            <a
              [routerLink]="['/p/hiring']"
              class="nav-link">Hiring</a>
          </li>       
        -->             
          <li class="nav-item">
            <a
            [routerLink]="['/p/terms']"
              class="nav-link">Terms</a>
          </li>
          <li class="nav-item">
            <a
            [routerLink]="['/p/privacy']"
              class="nav-link">Privacy</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</footer>

